.recentPostsSection {
    padding: 40px 25%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.recentPostsSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.recentPostsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewAllRecentPosts {
    color: var(--primary-color);
}

.recentPostsTitle {
    color: white;
    font-family: arial;
    font-size: 26px;
}

.post {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
}

.postDate {
    display: flex;
    gap: 2%;
}

.post h2 {
    color: var(--primary-color);
    font-family: arial;
    font-size: 26px;
    height: 60px;
}

.post span, .post p {
    color: white;
    font-family: arial;
}

.post div {
    display: flex;
    gap: 20px;
}

.post div span {
    font-weight: bold;
}

.postsContainer {
    display: flex;
    justify-content: space-between;
}